In [75]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# CSV 파일 경로 설정
file_path = 'C:/파이썬/실습0701/gpt 물어보기.csv'

# CSV 파일 읽기, 열 이름 추가
column_names = ['기호','주소', '제안기관', '근저당기관명', '신청일', '제안일', '선택일', '근저당설정일', '비고', '대출신청액', '대출제안액', '채권최고액', '여신금액']
data = pd.read_csv(file_path, encoding='utf-8', names=column_names, header=0)

In [76]:
# 표 포맷팅 설정
pd.options.display.float_format = '{:.0f}'.format

# 데이터 출력을 위한 스타일 설정
def style_specific_columns(df):
    return df.style.set_properties(**{'text-align': 'left', 'border': '1px solid black'}).set_table_styles([{
        'selector': 'th',
        'props': [('text-align', 'left')]
    }]).hide_index()
    
# 데이터 출력
print(data.head())

   기호                                             주소     제안기관 근저당기관명  \
0   1                       경기 용인시 처인구 모현읍 왕산리 499-2     든솔신협   국민은행
1   2                  부산시 해운대구 중동 1829 랜드마크타워동 7807  부산시중앙신협  북부산신협
2   3                             인천시 미추홀구 주안동 505-3     대방신협   기업은행
3   4                           충북 괴산군 사리면 노송리 351-1    동서울신협   증평농협
4   5  경기 파주시 다율동 1044-3 공감빌딩 101호, 102호, 206호, 207호     와이펀드   기업은행

          신청일         제안일  선택일      근저당설정일   비고       대출신청액       대출제안액  \
0  2024-02-23  2024-02-26  NaN  2024-05-23  NaN  3000000000  1900000000
1  2024-02-15  2024-02-16  NaN  2024-02-29  NaN  1900000000  1500000000
2  2024-03-11  2024-03-12  NaN  2024.05.17  NaN  1400000000  1500000000
3  2024-04-09  2024-04-16  NaN  2024.04.23  NaN  1030000000   900000000
4  2024-04-22  2024-04-23  NaN  2024-05-29  NaN  2350000000   470000000

        채권최고액       여신금액
0  2976000000 2480000000
1  2280000000 1900000000
2  1557600000 1298000000
3  1040000000  866666667
4  1015200000  846000000

In [77]:
# 스타일 적용하여 데이터프레임 출력
styled_df = style_specific_columns(data)
styled_df

AttributeError: 'Styler' object has no attribute 'hide_index'

In [78]:
import pandas as pd

# CSV 파일 경로 설정
file_path = 'C:/파이썬/실습0701/gpt 물어보기.csv'

# CSV 파일 읽기, 열 이름 추가
column_names = ['주소', '제안기관', '근저당기관명', '신청일', '제안일', '선택일', '근저당설정일', '비고', '대출신청액', '대출제안액', '채권최고액', '여신금액']
data = pd.read_csv(file_path, encoding='utf-8', names=column_names, header=0)

# 데이터 출력을 위한 스타일 설정
def style_specific_columns(df):
    return df.style.set_properties(**{'text-align': 'left', 'border': '1px solid black'}).set_table_styles([{
        'selector': 'th',
        'props': [('text-align', 'left')]
    }])

# 스타일 적용하여 데이터프레임 출력
styled_df = style_specific_columns(data)
styled_df